/* Copyright 2017 Amazon Web Services, Inc. or its affiliates. All rights reserved. */

body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 21px;
}


button, input {
  font-size: 18px;
  font-family: inherit;
}

#left {
	float: left;
	padding: 10px 2% 10px 2%;
	margin: 20px 1% 20px 2%;
	border: 5px solid #ccc;
	width: 41%;
}

#results {
	float: right;
	padding: 10px 2% 10px 2%;
	margin: 20px 2% 20px 1%;
	border: 5px solid #ccc;
	width: 41%;
}

.error {
	color: red;
}
